<header style="background: black" id="header" class="header" role="banner">
  <div class="section layout-container clearfix">
    {{ page.header }}
    {{ page.secondary_menu }}
    {{ page.primary_menu }}
  </div>
</header>
