{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}

<div class="d-block ">
  {% if title %}
    <h1 class="col-6 animate__animated animate__bounce animate__repeat-2  salah">{{ title }} </h1>
  {% endif %}
</div>

