
<div class="footer-bottom-middle-right">
  <ul class="social-icons">
    {% if facebook %}
      <li>
        <a href="{{ facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>

      </li>
    {% endif %}
    {% if twitter %}
      <li>
        <a href="{{ twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>

      </li>
    {% endif %}
    {% if linkdin %}
      <li>
        <a href="{{ linkdin }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

      </li>
    {% endif %}
  </ul>
</div>
